* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  color: wheat;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
  border-bottom: 1px solid red;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}

li {
  list-style-type: none;
  cursor: pointer;
}
